@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0vh 5vh 0vh 5vh;
    /*border: hotpink;
    border-style: solid;*/
}


/* MENU */

header {
    background-color: #D9C0BA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 80px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.8rem;
}

header h1 a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight: 400;   
    font-size: 3rem;
    flex-grow: 2;
}

header nav ul {
    display: flex;
    flex-grow: 2;
    gap: 20px;
}

header ul li {
    list-style-type: none;
}

header ul ul {
    display: none;
    position: absolute;
    text-decoration: none;
    list-style-type: none;
    background-color: #D9C0BA;
    border-style: ridge;
    border-color: #CDA292;
}

header ul li:hover ul {
    display:block;
    padding: 10px;
    z-index: 1;
}

header div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 10px;
    flex-grow: 0;
}

#cuenta {
    height: 35px;
    order: 1;
    margin: 10px;
}

#bag {
    height: 45px;
    order: 0;
    margin: 10px;
}

/* PORTADA */

#heroSection {
    width: 100%;
    height: 450px;
}

/* Formato para títulos*/
.titulos {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding: 20px;
    /*margin: 50px;*/
}

/* PRODUCTOS INDEX */

/*#sectionProduct {
    display: grid;
    grid-template-rows: 20% 100% 20%;
    grid-column-gap: 10px;
    align-items: center;
    margin: 5vh 0vh 20vh 0vh;
    place-items: center;
}

#sectionProduct div h2 {
    justify-self: center;
    align-self: center;
}*/

.productos {
    display:grid;
    gap: 3rem;
    padding: 50px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}
    /*justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 35vh;*/

.carta {
    background-color: #D9C0BA;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*padding: 1rem;*/
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 2;
    border-radius: 19px;
    width: 292px;
    height: 401px;
}

.carta div img {
    width: 292px;
    height: 330px;
    border-radius: 11px;
}


    /*flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-grow: 2;
    width: 100%;
}*/

/*.productos article {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-grow: 2;
    width: 100%;
}*/

/*.carta div img {
    width: 292px;
    height: 320px;
    border-radius: 11px;
    /*position: absolute;
    bottom: 12%;
}

/*.productos article div {
    flex-direction: column;
    justify-content:center;
    background-color: #D9C0BA;
    font-size: 1.5rem;
    line-height: 1;
    width: 292px;
    height: 80px;
    border-radius: 8px;
    position: absolute;
    bottom: 12%;
}

.productos article div h4 {
    text-align: center;
    padding: 15px;    
}

.productos article div h5 {
    text-align: center;  
}*/

#verMasboton{
    grid-row: span 3;
    justify-self: center;
    align-self:center;
}

.productos button {
    width: 40vh;
    height: 8vh;
    display: inline;
    position: absolute;
    justify-content:center;
    align-items: center;
    top: 100%;
}

/* INFO UTIL INDEX */

.infoUtil {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 5vh;
}

.infoUtil div {
    text-align: center;
    width: 50vh;
    height: 30vh;
    flex-grow: 1;
}

.imagenInfoUtil {
    width: 100px;
    height: 100px;
}

#tamañoEnvios {
    width: 150px;
    height: 150px;
}

/* SECCION PRODUCTOS */

#prod {
    display: grid;
    grid-template-rows: 20% 55% 55%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    margin: 0vh 0vh 28vh 0vh ;
}

/* SECCION NOSOTROS*/

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros video {
    width: 80vh;
    height: 50vh;
}

.nosotros p {
    text-align: justify;
    padding: 30px;
}

/* SECCION CONTACTO */

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contacto p {
    margin: 5vh;
}

.contacto form {
    height: 60vh;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0vh 0vh 10vh 0vh;
}

.contacto form label {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 50vh;
    padding: 10px;
}

.contacto form div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 50vh;
}

.anchoForm {
    width: 48vh;
}

#newsletter {
    flex-basis: 100%;
}

.contacto div .boton {
    width: 80vh;
    flex-basis: 45%;
    margin-top: 5vh;
}

/* SECCION CARRITO*/

#carrito {
    display: grid;
    grid-template-rows: 10% 80%;
    margin: 5vh 0vh 5vh 0vh;
}

.compra {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 60vh;
}

.compra div img {
    width: 400px;
    height: 400px;
    border-radius: 19px;
    margin: 0vh 10vh 10vh 10vh;
}

.compra article {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 3;
    height: 50vh;
    width: 100vh;
}

.compra #item {
    font-size: 2rem;
    grid-area: item;
}

.compra article div form {
    grid-area: formu;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.compra article div form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 20px;
    flex-grow: 1;
}

.compra article div form div label {
    width: 100px;
}

.casillero {
    border-radius: 14px;
    height: 40px;
    width: 60px;
    flex-basis: 15%;
}

.compra div .boton {
    grid-area: botones;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 30px;
    width: 250px;
    height: 50px;
}

/* FOOTER */
footer {
    display: flex;
    background-color: #D9C0BA;
    width: 100%;
    height: 21vh;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

#direccion h4 {
    font-weight: 600;
    font-size: 1.5rem;
}

#direccion p {
    font-weight: 400;
    font-size: 1rem;
}

footer section h2 {
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    line-height: 1.5;
    flex-grow: 2;
    color: #EAE6DA;
    padding: 0vh 5vh;
    margin-right: 0vh;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 0;
    margin: 0vh;
    padding: 5vh;
}

.redes img {
    height: 4vh;
    padding: 5px;
}

#contacto {
    height: 4.5vh;
}

footer .redes div {
    display: flex;
    align-items: center;
    width: 145px;
}

footer nav {
    font-weight: 400;
    font-size: 1.5rem;
}

footer nav ul {
    display: none;
    flex-direction: column;
}

footer ul li {
    list-style-type: none;
}

/* BOTONES */
.boton {
    background-color: #CDA292;
    border-radius: 44px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 300px;
    height: 50px;
}

/* PARRAFOS */

/*p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
}*/


/* MEDIA QUERIES */

/* Mobile */

@media only screen and (max-width: 480px) {
    
    body {
        margin: 0vh 0vh 0vh 0vh;
    }

    /* HEADER */

    header nav ul {
        display: none;
    }

    header h1, header div {
        display: flex;
        justify-content: space-evenly;
    }

    /* PRODUCTOS INDEX */


    /* FOOTER */

    #direccion {
        display: flex;
        flex-direction: column;
    }

    footer section h2 {
        display: none;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;
        padding: 15px;
    }
}


@media screen and (max-width: 768px) {

    body {
        margin: 0vh 0vh 0vh 0vh;
    }

    /* HEADER */

    nav ul {
        display: none;
    }

    header nav ul {
        display: none;
    }

    header h1, header div {
        display: flex;
        justify-content: space-evenly;
    }

    /* FOOTER */
    
    footer section h2 {
        display: none;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        flex-grow: 2;
        padding: 20px;
        margin: 0vh 5vh 0vh 5vh;
    }

    #direccion {
        display: flex;
        flex-direction: column;
        padding: 0px 25px 0px 25px;
    }


}

@media only screen and (min-width: 1024px) {

    body {
        margin: 0vh 5vh 0vh 5vh;
    }


    /* FOOTER */

    footer section h2 {
        margin-right: 0vh;
    }

    #direccion {
        display: flex;
        flex-direction: column;
        padding: 0px 30px 0px 30px;
    }
}