@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0vh 5vh 0vh 5vh;
    /*border: hotpink;
    border-style: solid;*/
}


/* MENU */

header {
    background-image: linear-gradient(to right, #BF846F, #8C5346);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 80px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.8rem;
    transition: all 0.5s;
}

li a:hover {
    font-size: 2.1rem;
    text-decoration: overline solid #EAE6DA;
    transform: scale(1,1);
}

header h1 a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight: 400;   
    font-size: 3rem;
    flex-grow: 2;
}

header nav ul {
    display: flex;
    flex-grow: 2;
    gap: 20px;
}

header ul li {
    list-style-type: none;
}

header ul ul {
    display: none;
    line-height: 1.8;
    position: absolute;
    text-decoration: none;
    list-style-type: none;
    background-image: linear-gradient(to top, #BF846F, #8C5346);
    border-style: ridge;
    border-color: #CDA292;
}

header ul li:hover ul {
    display:block;
    padding: 20px;
    z-index: 1;
}

header div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 10px;
    flex-grow: 0;
}

#cuenta {
    height: 35px;
    order: 1;
    margin: 10px;
}

#bag {
    height: 45px;
    order: 0;
    margin: 10px;
}

/* PORTADA */

#heroSection {
    width: 100%;
    height: 450px;
}

/* Formato para títulos*/
.titulos {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding: 20px;
    margin: 50px;
}

/* PRODUCTOS INDEX */

.productos {
    display:grid;
    gap: 3rem;
    padding: 0px 50px 0px 50px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-rows:1fr 1fr 1fr 0fr;
    margin: 2rem;
    position: relative;
}

.carta {
    background-color: #D9C0BA;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 2;
    border-radius: 19px;
    width: 192px;
    height: 330px;
    transition: all 1s;
}

.carta:hover {
    box-shadow: 10px 10px 8px 2px rgba(184,175,184,1);
    transform: scale(1,1);
}

.carta div img {
    width: 190px;
    height: 250px;
    border-radius: 11px;
    transition: all 2s;
}

.productos button {
    width: 11rem;
    height: 5rem;
    justify-content:center;
    align-items: center;
    font-weight: 400;
    background-color: #CDA292;
    border-radius: 44px;
    transition: all 1s;
}

.productos button:hover {
    width: 30rem;
    transform: scale(1, 1);
    background-color: #BF846F;
}

/* INFO UTIL INDEX */

.infoUtil {
    display:grid;
    gap:1.5rem;
    padding: 0px 50px 0px 50px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
}

.cartaInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-self: center;
    font-size: 1rem;
    line-height: 1.5;
    width: 8rem;
    height: 12rem;
}

/* SECCION PRODUCTOS */

.product {
    display:grid;
    gap: 5rem;
    padding: 0px 50px 0px 50px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 9rem;
}

.cartaProductos {
    background-color: #D9C0BA;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 2;
    border-radius: 19px;
    width: 250px;
    height: 380px;
    transition: all 1s;
}

.cartaProductos:hover {
    box-shadow: 10px 10px 8px 2px rgba(184,175,184,1);
    transform: scale(1,1);
}


.cartaProductos div img {
    width: 250px;
    height: 300px;
    border-radius: 11px;
}

/* SECCION NOSOTROS*/

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.nosotros video {
    width: 80vh;
    height: 50vh;
    padding-bottom: 7rem;
}

.nosotros article p {
    text-align: justify;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5;
}

.equipo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 0px 20px 0px 20px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 4rem;
    height: 50rem;
}

.personal {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 2;
}

.personal div img {
    border-radius: 19px;
}

/* SECCION CONTACTO */

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contacto p {
    margin: 5vh;
    font-weight: 400;
    font-size: 1.8rem;
}

.contacto form {
    height: 60vh;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0vh 0vh 10vh 0vh;
}

.contacto form label {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    width: 475px;
    padding: 10px;
}

.contacto form div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 50vh;
}

.anchoForm {
    width: 458px;
    transition: all 2s;
}

.anchoForm:focus {
    font-size: 1.8rem;
}


#newsletter {
    flex-basis: 100%;
}

.botonForm {
    width: 20rem;
    height: 5rem;
    justify-content:center;
    align-items: center;
    font-weight: 400;
    background-color: #CDA292;
    border-radius: 44px;
    transition: all 1s;
}

.botonForm:hover {
    width: 25rem;
    transform: scale(1, 1);
    background-color: #BF846F;
}

/* SECCION CARRITO*/

.compra {
    display: grid;
    grid-template-columns: 0fr 0.5fr;
    grid-template-rows: 0fr 0.5fr 0fr;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 650px;
    gap: 20px;
    margin: 0px 50px 50px 50px;
}

.compra div {
    justify-self: center;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 4;
}

.compra div img {
    width: 400px;
    height: 400px;
    border-radius: 19px;
}

.compra #item {
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3;
}

.compra article form {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 70rem;
    padding: 20px;
}

.compra article form label {
    font-size: 1.8rem;
}

.casillero {
    border-radius: 14px;
    height: 40px;
    width: 60px;
}

#botones {
    justify-content:center;
    align-items: center;
}

.botonCarrito {
    text-decoration: none;
    font-size: 1.5rem;
    width: 20rem;
    height: 5rem;
    font-weight: 400;
    background-color: #CDA292;
    border-radius: 44px;
    margin: 6rem;
}

.botonCarrito a {
    font-size: 1.5rem;
}

/* FOOTER */
.contenedor {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-image: linear-gradient(to right, #BF846F, #8C5346);
}

#direccion {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

#direccion h4 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2;
}

#direccion p {
    font-weight: 400;
    font-size: 1rem;
}

footer section h2 {
    font-weight: 700;
    text-align: center;
    font-size: 3.5rem;
    text-align: center;
    line-height: 1.5;
    flex-grow: 2;
    color: #EAE6DA;
    padding: 0vh 5vh;
    margin-right: 0vh;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 0;
    margin: 0vh;
    padding: 5vh;
}

.redes img {
    height: 4vh;
    padding: 5px;
}

#contacto {
    height: 4.5vh;
}

footer .redes div {
    display: flex;
    align-items: center;
    width: 8rem;
}

footer nav ul {
    display: none;
    flex-direction: column;
    justify-items: center;
    list-style: none;
}

footer nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

/* MEDIA QUERIES */

/* Mobile */

@media screen and (min-width: 325px) and (max-width: 767px) {
    
    body {
        margin: 0vh 0vh 0vh 0vh;
    }

    /* HEADER */

    header {
        justify-content: center;
    }

    header div img {
        display: none;
    }

    header nav ul {
        display: none;
    }

    /* PRODUCTOS */

    .product {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    .cartaProductos {
        width: 145px;
        height: 270px;
    }

    .cartaProductos div img {
        width: 145px;
        height: 180px;
    }

    /* NOSOTROS */

    .nosotros {
        height: 70rem;
    }

    .nosotros video {
        width: 85%;
        height: 50rem;
    }

    .nosotros article {
        margin: 0rem 4rem 0rem 4rem;
    }

    .nosotros article p {
        font-size: 1.4rem;
    }

    .equipo {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .personal div img {
        width: 150px;
        height: 150px;
    }

    #gridPersonal {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* CONTACTO */

    .contacto p {
        margin: 20px;
    }

    .contacto form {
        height: 450px;
        font-size: 1.2rem;
        padding: 0px;
    }
    
    .contacto form label {
        width: 410px;
    }
    
    .contacto form div {
        width: 410px;
    }
    
    .anchoForm {
        width: 390px;
        transition: all 2s;
    }
    
    .anchoForm:focus {
        font-size: 1.5rem;
    }
    
    .botonForm {
        width: 15rem;
        height: 3.5rem;
    }

    .botonForm:hover {
        width: 15rem;
    }

    /* CARRITO */

    .compra {
        display: grid;
        grid-template-columns: 0fr 0fr;
        grid-template-rows: 0fr 0fr 0fr;
        align-content: flex-start;
        margin: 0px 0px 5px 0px;
        height: 522px;
    }
    
    .compra div img {
        width: 150px;
        height: 180px;
    }
    
    .compra #item {
        display: flex;
        gap: 30px;
        justify-content: center;
        font-size: 2rem;
        font-weight: 300;
        line-height: 0.5;
    }
    
    .compra article form {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 20rem;
        padding: 15px 0px;
    }
    
    .compra article form label {
        font-size: 1.3rem;
    }
    
    #botones {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .botonCarrito {
        width: 12rem;
        height: 4rem;
        margin: 0rem;
        font-size: 1.2rem;
    }
    
    .botonCarrito a {
        font-size: 1.2rem;
    }

    /* FOOTER */

    .contenedor {
        grid-template-columns: 1fr 1fr 0fr 1fr;
    }

    #direccion {
        display: flex;
        flex-direction: column;
    }

    footer section h2 {
        display: none;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex-grow: 1;
    }

    .redes {
        width: 3rem;
        padding: 1rem;
    }
}

/* Tablets */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        margin: 0vh 0vh 0vh 0vh;
    }

    /* HEADER */

    header {
        justify-content: space-around;
    }

    header div img {
        display: none;
    }

    header nav ul {
        gap: 10px;
    }

    /* PRODUCTOS INDEX */

    .productos {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.5fr 0fr;
        row-gap: 50px;
    }

    .productos button {
        grid-column:-3;
        width: 20rem;
        height: 5rem;
    }

    /* INFO UTIL */

    .infoUtil {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 20px;
    }

    /* PRODUCTOS */

    .cartaProductos {
        width: 200px;
        height: 330px;
    }

    .cartaProductos div img {
        width: 200px;
        height: 250px;
    }

    /* NOSOTROS */

    .nosotros video {
        width: 85%;
        height: 50rem;
    }

    .nosotros article {
        margin: 0rem 4rem 0rem 4rem;
    }

    .nosotros article p {
        font-size: 1.4rem;
    }

    .equipo {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .personal div img {
        width: 150px;
        height: 150px;
    }

    #gridPersonal {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* CARRITO */

    .compra {
        align-content: flex-start;
        height: 490px;
    }
    
    .compra div img {
        width: 190px;
        height: 220px;
    }
    
    .compra #item {
        font-size: 2rem;
        line-height: 1.3;
    }
    
    .compra article form {
        width: 52rem;
    }
    
    .compra article form label {
        font-size: 1.5rem;
    }
    
    .botonCarrito {
        width: 15rem;
        height: 4rem;
        margin: 5rem;
        font-size: 1.5rem;
    }
    
    .botonCarrito a {
        font-size: 1.5rem;
    }


    /* FOOTER */
    
    .contenedor {
        grid-template-columns: 1fr 1fr 0fr 1fr;
    }

    footer section h2 {
        display: none;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        flex-grow: 2;
    }

    #direccion {
        display: flex;
        flex-direction: column;
        padding: 0px 25px 0px 25px;
    }
}

/* Desktop */

@media only screen and (min-width: 1024px) {

    body {
        margin: 0vh 5vh 0vh 5vh;
    }

    /* HEADER */

    header nav ul {
        gap: 20px;
    }

    /* PRODUCTOS INDEX */

    .productos {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.5fr 0fr;
        row-gap: 80px;
    }

    .carta {
        width: 200px;
        height: 325px;
    }
        
    .carta div img {
        width: 200px;
        height: 250px;
    }

    .productos button {
        grid-column:-3;
    }

    .productos button {
        width: 22rem;
        height: 6rem;
        justify-content:center;
        align-items: center;
    }

    /* INFO UTIL */

    .infoUtil {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        height: 30rem;
        justify-content: center;
    }

    .cartaInfo {
        width: 15rem;
        height: 10rem;
    }

    /* CARRITO */

    .compra {
        align-content: center;
        height: 490px;
        margin: 0px;
    }
        
    .compra div img {
        width: 290px;
        height: 300px;
    }
        
    .compra #item {
        justify-content: start;
        font-size: 2rem;
        padding: 20px;
    }

    .compra article form {
        align-items: center;
        width: 60rem;
    }
        
    .compra article form label {
        font-size: 1.6rem;
    }
        
    .botonCarrito {
        width: 15rem;
        height: 4rem;
        margin: 7rem;
        font-size: 1.5rem;
    }
        
    .botonCarrito a {
        font-size: 1.5rem;
    }    

    /* FOOTER */

    footer section h2 {
        margin-right: 0vh;
        font-size: 2.1rem;
    }

    #direccion {
        font-size: 5rem;
        display: flex;
        flex-direction: column;
        padding: 0px 30px 0px 30px;
    }

    #direccion h4 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2;
    }

    #direccion p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 2;
    }

    footer .redes div {
        display: flex;
        align-items: center;
        width: 15rem;
        font-size: 1.5rem;
    }
}
